<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				 <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <!--<string>https://doanhnghiep.citywork.vn/Data/ipaapp/SO2HANOI.METER.ipa</string>-->
					<string>https://store.ekgis.vn/citywork/public/ipa/SO2HANOI.METER.ipa</string>
                 </dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ekgis.so2hanoi.meter</string>
				<key>bundle-version</key>
				<string>2.0.29</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>SO2HANOI.METER</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
